In [623]:
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
from datetime import datetime

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("health.data.ny.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(health.data.ny.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("xdss-u53e") #limit = 62 counties in NY

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [624]:
results_df.head()

,test_date,county,new_positives,cumulative_number_of_positives,total_number_of_tests,cumulative_number_of_tests
0,2020-04-03T00:00:00.000,Albany,26,293,123,4038
1,2020-04-03T00:00:00.000,Allegany,2,16,13,180
2,2020-04-03T00:00:00.000,Bronx,1229,12315,2108,23965
3,2020-04-03T00:00:00.000,Broome,9,65,55,538
4,2020-04-03T00:00:00.000,Cattaraugus,0,9,8,223

In [625]:
df_pos = results_df.drop(columns={'total_number_of_tests','cumulative_number_of_tests','new_positives'})
df_daily = results_df['new_positives']

In [626]:
days = results_df['test_date'].drop_duplicates()
days.head()
days.reset_index

<bound method Series.reset_index of 0      2020-04-03T00:00:00.000
62     2020-04-02T00:00:00.000
124    2020-04-01T00:00:00.000
186    2020-03-31T00:00:00.000
248    2020-03-30T00:00:00.000
310    2020-03-29T00:00:00.000
372    2020-03-28T00:00:00.000
434    2020-03-27T00:00:00.000
496    2020-03-26T00:00:00.000
558    2020-03-25T00:00:00.000
620    2020-03-24T00:00:00.000
682    2020-03-23T00:00:00.000
744    2020-03-22T00:00:00.000
806    2020-03-21T00:00:00.000
868    2020-03-20T00:00:00.000
930    2020-03-19T00:00:00.000
992    2020-03-18T00:00:00.000
Name: test_date, dtype: object>

In [647]:
d = {'date': [0]}

df_temp = df_pos.loc[results_df['test_date'] == days.iloc[0]]
df_temp = df_temp.drop(columns='test_date')
df_temp
#find today (make method)
#df_today = dft['test_date']
    
dft_temp = df_temp.T
    
dft_temp

new_header = dft_temp.iloc[0] #grab the first row for the head

new_header

df = pd.DataFrame(columns = new_header)
#df.rename_axis('date',axis=0)
date= pd.DataFrame({'date': [0]})
df.insert(0, date)
#df.reset_index()

df.index.name = 'date'

TypeError: insert() missing 1 required positional argument: 'value'

In [646]:
date= pd.DataFrame({'date': [0]})
date

   date
0     0

In [637]:
for i in range(len(days)):
    
    #data for i-th day
    print(days.iloc[i])
    df_today = df_pos.loc[results_df['test_date'] == days.iloc[i]]
    df_today.drop(columns='test_date',inplace=True)
    
    #find today (make method)
    #df_today = dft['test_date']
    
    dft = df_today.T
    
    new_header = dft.iloc[0] #grab the first row for the header
    df_temp = dft[1:] #take the data less the header row
    df_temp.columns = new_header

    #df_temp.index.name = 'date'
    #d = days.iloc[i]
    print(d)
    #df_temp.index[0] = 'd'
    #print(df_temp.head())
    
    df = df.append(df_temp,ignore_index = False)
    #print(df.head())
    #df_new.rename( index={'cumulative_number_of_positives': days.loc[i]}, inplace=True)

2020-04-03T00:00:00.000
2020-04-03T00:00:00.000
2020-04-02T00:00:00.000
2020-04-03T00:00:00.000
2020-04-01T00:00:00.000
2020-04-03T00:00:00.000
2020-03-31T00:00:00.000
2020-04-03T00:00:00.000
2020-03-30T00:00:00.000
2020-04-03T00:00:00.000
2020-03-29T00:00:00.000
2020-04-03T00:00:00.000
2020-03-28T00:00:00.000
2020-04-03T00:00:00.000
2020-03-27T00:00:00.000
2020-04-03T00:00:00.000
2020-03-26T00:00:00.000
2020-04-03T00:00:00.000
2020-03-25T00:00:00.000
2020-04-03T00:00:00.000
2020-03-24T00:00:00.000
2020-04-03T00:00:00.000
2020-03-23T00:00:00.000
2020-04-03T00:00:00.000
2020-03-22T00:00:00.000
2020-04-03T00:00:00.000
2020-03-21T00:00:00.000
2020-04-03T00:00:00.000
2020-03-20T00:00:00.000
2020-04-03T00:00:00.000
2020-03-19T00:00:00.000
2020-04-03T00:00:00.000
2020-03-18T00:00:00.000
2020-04-03T00:00:00.000

In [638]:
df

,Albany,Allegany,Bronx,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Sullivan,Tioga,Tompkins,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,Yates
cumulative_number_of_positives,293,16,12315,65,9,7,10,36,39,31,...,193,7,85,290,20,16,30,13081,18,1
cumulative_number_of_positives,267,14,11086,56,9,6,9,35,32,30,...,168,7,84,263,19,15,30,12351,15,1
cumulative_number_of_positives,253,12,9927,46,8,4,8,22,28,25,...,143,7,74,240,18,12,27,11567,14,1
cumulative_number_of_positives,240,9,8861,42,7,3,6,22,26,25,...,121,7,68,221,18,10,24,10683,10,0
cumulative_number_of_positives,226,7,7766,38,6,3,6,20,19,21,...,109,7,66,211,18,10,19,9967,9,0
cumulative_number_of_positives,217,7,6962,35,6,3,5,15,17,17,...,101,4,66,190,18,7,15,9326,8,0
cumulative_number_of_positives,205,6,6304,29,4,2,5,15,15,13,...,88,4,52,146,18,7,12,8519,8,0
cumulative_number_of_positives,195,2,5403,23,1,2,5,12,8,12,...,72,4,45,128,13,6,12,7875,7,0
cumulative_number_of_positives,187,2,4557,18,0,2,1,11,4,11,...,64,2,26,99,8,6,11,7187,7,0
cumulative_number_of_positives,171,2,3728,16,0,2,1,7,3,11,...,53,2,22,78,2,4,8,5944,7,0
cumulative_number_of_positives,152,2,2890,11,0,2,1,1,3,10,...,39,1,16,65,2,4,7,4691,4,0
cumulative_number_of_positives,146,2,2279,9,0,2,0,1,3,8,...,30,1,16,47,2,3,6,3891,4,0
cumulative_number_of_positives,127,2,1824,7,0,2,0,0,3,6,...,23,1,15,35,2,3,6,2894,4,0
cumulative_number_of_positives,123,2,1218,3,0,0,0,0,3,4,...,16,1,13,26,1,1,3,1873,2,0
cumulative_number_of_positives,88,2,851,2,0,0,0,0,2,4,...,12,1,11,18,1,1,3,1387,2,0
cumulative_number_of_positives,61,2,554,2,0,0,0,0,2,2,...,8,1,7,12,1,1,1,1091,2,0
cumulative_number_of_positives,43,2,363,2,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cumulative_number_of_positives,293,16,12315,65,9,7,10,36,39,31,...,193,7,85,290,20,16,30,13081,18,1
cumulative_number_of_positives,267,14,11086,56,9,6,9,35,32,30,...,168,7,84,263,19,15,30,12351,15,1
cumulative_number_of_positives,253,12,9927,46,8,4,8,22,28,25,...,143,7,74,240,18,12,27,11567,14,1
cumulative_number_of_positives,240,9,8861,42,7,3,6,22,26,25,...,121,7,68,221,18,10,24,10683,10,0
cumulative_number_of_positives,226,7,7766,38,6,3,6,20,19,21,...,109,7,66,211,18,10,19,9967,9,0
cumulative_number_of_positives,217,7,6962,35,6,3,5,15,17,17,...,101,4,66,190,18,7,15,9326,8,0
cumulative_number_of_positives,205,6,6304,29,4,2,5,15,15,13,...,88,4,52,146,18,7,12,8519,8,0
cumulative_number_of_positives,195,2,5403,23,1,2,5,12,8,12,...,72,4,45,128,13,6,12,7875,7,0
cumulative_number_of_positives,187,2,4557,18,0,2,1,11,4,11,...,64,2,26,99,8,6,11,7187,7,0
cumulative_number_of_positives,171,2,3728,16,0,2,1,7,3,11,...,53,2,22,78,2,4,8,5944,7,0
cumulative_number_of_positives,152,2,2890,11,0,2,1,1,3,10,...,39,1,16,65,2,4,7,4691,4,0
cumulative_number_of_positives,146,2,2279,9,0,2,0,1,3,8,...,30,1,16,47,2,3,6,3891,4,0
cumulative_number_of_positives,127,2,1824,7,0,2,0,0,3,6,...,23,1,15,35,2,3,6,2894,4,0
cumulative_number_of_positives,123,2,1218,3,0,0,0,0,3,4,...,16,1,13,26,1,1,3,1873,2,0
cumulative_number_of_positives,88,2,851,2,0,0,0,0,2,4,...,12,1,11,18,1,1,3,1387,2,0
cumulative_number_of_positives,61,2,554,2,0,0,0,0,2,2,...,8,1,7,12,1,1,1,1091,2,0
cumulative_number_of_positives,43,2,363,2,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cumulative_number_of_positives,293,16,12315,65,9,7,10,36,39,31,...,193,7,85,290,20,16,30,13081,18,1
cumulative_number_of_positives,267,14,11086,56,9,6,9,35,32,30,...,168,7,84,263,19,15,30,12351,15,1
cumulative_number_of_positives,253,12,9927,46,8,4,8,22,28,25,...,143,7,74,240,18,12,27,11567,14,1
cumulative_number_of_positives,240,9,8861,42,7,3,6,22,26,25,...,121,7,68,221,18,10,24,10683,10,0
cumulative_number_of_positives,226,7,7766,38,6,3,6,20,19,21,...,109,7,66,211,18,10,19,9967,9,0
cumulative_number_of_positives,217,7,6962,35,6,3,5,15,17,17,...,101,4,66,190,18,7,15,9326,8,0
cumulative_number_of_positives,205,6,6304,29,4,2,5,15,15,13,...,88,4,52,146,18,7,12,8519,8,0
cumulative_number_of_positives,195,2,5403,23,1,2,5,12,8,12,...,72,4,45,128,13,6,12,7875,7,0
cumulative_number_of_positives,187,2,4557,18,0,2,1,11,4,11,...,64,2,26,99,8,6,11,7187,7,0
cumulative_number_of_positives,171,2,3728,16,0,2,1,7,3,11,...,53,2,22,78,2,4,8,5944,7,0
cumulative_number_of_positives,152,2,2890,11,0,2,1,1,3,10,...,39,1,16,65,2,4,7,4691,4,0
cumulative_number_of_positives,146,2,2279,9,0,2,0,1,3,8,...,30,1,16,47,2,3,6,3891,4,0
cumulative_number_of_positives,127,2,1824,7,0,2,0,0,3,6,...,23,1,15,35,2,3,6,2894,4,0
cumulative_number_of_positives,123,2,1218,3,0,0,0,0,3,4,...,16,1,13,26,1,1,3,1873,2,0
cumulative_number_of_positives,88,2,851,2,0,0,0,0,2,4,...,12,1,11,18,1,1,3,1387,2,0
cumulative_number_of_positives,61,2,554,2,0,0,0,0,2,2,...,8,1,7,12,1,1,1,1091,2,0
cumulative_number_of_positives,43,2,363,2,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [555]:

df_temp.insert(0, "date", days.iloc[1])

ValueError: cannot insert date, already exists

In [529]:
df_temp

county,date,Albany,Allegany,Bronx,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung
cumulative_number_of_positives,2020-03-18T00:00:00.000,43,2,363,2,0,0,0,0

In [274]:
#find today (make method)

#loop over all unique test_date
dft = df_pos.loc[results_df['test_date'] == days.loc[0]]

#find today (make method)
df_today = dft['test_date']
dft.drop(columns='test_date',inplace=True)

df = dft.T

new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header

df.index.name = 'date'
df.rename( index={'cumulative_number_of_positives': days.loc[0]}, inplace=True)
#append

In [ ]:
#repeat this over all days