# Using APIs and Pandas to update COVID-19 data for NYS
## Eric Oliverio 3/29

### 1) Let's import our libraries and see the data that needs to be updated

In [1]:
import pandas as pd
import requests
from datetime import date

dfg = pd.read_csv('NY_Counties.csv')
dfg.tail()

,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Tompkins,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,tot_pos,Lewis,Seneca
23,2020-03-25,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"4,691",NaN,"30,811",NaN,NaN
24,2020-03-26,171.0,2.0,16.0,2.0,1.0,1.0,7.0,3.0,11.0,...,22.0,78.0,2.0,4.0,8.0,5944,7.0,37258,NaN,NaN
25,2020-03-29,195.0,2.0,23.0,1.0,2.0,5.0,12.0,8.0,12.0,...,45.0,128.0,13.0,6.0,12.0,7875,7.0,52318,NaN,NaN
26,2020-03-31,226.0,7.0,38.0,6.0,3.0,6.0,20.0,19.0,21.0,...,66.0,211.0,18.0,10.0,19.0,9967,9.0,75795,2.0,2.0
27,2020-04-01,240.0,9.0,42.0,7.0,3.0,6.0,22.0,26.0,25.0,...,68.0,221.0,18.0,10.0,24.0,10683,10.0,83712,2.0,2.0

In [2]:
dfg.rename(columns={'Total Number of Positive Cases':'tot_pos'},inplace=True)

dfg

,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Tompkins,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,tot_pos,Lewis,Seneca
0,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN
3,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN
4,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN
5,2020-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN
6,2020-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,83,NaN,NaN,NaN,NaN
7,2020-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN
8,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,729,NaN,NaN
14,2020-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950,NaN,NaN
15,2020-03-17,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,380,NaN,1700,NaN,NaN
16,2020-03-18,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,538,NaN,2382,NaN,NaN
17,2020-03-19,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,798,NaN,4152,NaN,NaN
18,2020-03-20,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"1,091",NaN,7102,NaN,NaN
19,2020-03-21,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"1,387",NaN,10356,NaN,NaN
20,2020-03-22,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2500,NaN,14000,NaN,NaN
21,2020-03-23,127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,894",NaN,20000,NaN,NaN
22,2020-03-24,146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"3,891",NaN,"25,665",NaN,NaN
23,2020-03-25,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"4,691",NaN,"30,811",NaN,NaN
24,2020-03-26,171.0,2.0,16.0,2.0,1.0,1.0,7.0,3.0,11.0,...,22.0,78.0,2.0,4.0,8.0,5944,7.0,37258,NaN,NaN
25,2020-03-29,195.0,2.0,23.0,1.0,2.0,5.0,12.0,8.0,12.0,...,45.0,128.0,13.0,6.0,12.0,7875,7.0,52318,NaN,NaN
26,2020-03-31,226.0,7.0,38.0,6.0,3.0,6.0,20.0,19.0,21.0,...,66.0,211.0,18.0,10.0,19.0,9967,9.0,75795,2.0,2.0
27,2020-04-01,240.0,9.0,42.0,7.0,3.0,6.0,22.0,26.0,25.0,...,68.0,221.0,18.0,10.0,24.0,10683,10.0,83712,2.0,2.0

### 2) Access NYS website

In [3]:
#Link for NYS COVID statistics by county
url = 'https://coronavirus.health.ny.gov/county-county-breakdown-positive-cases'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

df_raw = pd.read_html(r.text)

df = pd.concat(df_raw)
dft = df.transpose()

new_header = dft.iloc[0] #grab the first row for the header
df = dft[1:] #take the data less the header row
df.columns = new_header


today = date.today()
df.insert(0, "Date", today)

In [4]:
df.rename(columns={'Total Number of Positive Cases':'tot_pos'},inplace=True)
df

/Users/ericoliverio/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

County,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Tioga,Tompkins,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,Yates,tot_pos
Positive Cases,2020-04-02,253,12,46,8,4,8,22,28,25,...,7,74,240,18,12,27,11567,14,1,92381

## And now we have our data to add

## Append the two sheets together

In [5]:
dfg = dfg.append(df,ignore_index=True,sort=False)
dfg

,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,tot_pos,Lewis,Seneca,Yates
0,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
3,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN
4,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
5,2020-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN
6,2020-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83,NaN,NaN,NaN,NaN,NaN
7,2020-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN,NaN
8,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,729,NaN,NaN,NaN
14,2020-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,950,NaN,NaN,NaN
15,2020-03-17,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,380,NaN,1700,NaN,NaN,NaN
16,2020-03-18,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,538,NaN,2382,NaN,NaN,NaN
17,2020-03-19,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,798,NaN,4152,NaN,NaN,NaN
18,2020-03-20,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1,091",NaN,7102,NaN,NaN,NaN
19,2020-03-21,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1,387",NaN,10356,NaN,NaN,NaN
20,2020-03-22,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2500,NaN,14000,NaN,NaN,NaN
21,2020-03-23,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"2,894",NaN,20000,NaN,NaN,NaN
22,2020-03-24,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"3,891",NaN,"25,665",NaN,NaN,NaN
23,2020-03-25,152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"4,691",NaN,"30,811",NaN,NaN,NaN
24,2020-03-26,171,2,16,2,1,1,7,3,11,...,78,2,4,8,5944,7,37258,NaN,NaN,NaN
25,2020-03-29,195,2,23,1,2,5,12,8,12,...,128,13,6,12,7875,7,52318,NaN,NaN,NaN
26,2020-03-31,226,7,38,6,3,6,20,19,21,...,211,18,10,19,9967,9,75795,2,2,NaN
27,2020-04-01,240,9,42,7,3,6,22,26,25,...,221,18,10,24,10683,10,83712,2,2,NaN
28,2020-04-02,253,12,46,8,4,8,22,28,25,...,240,18,12,27,11567,14,92381,2,4,1

In [6]:
#dfg.reset_index()

## Save file

In [7]:
dfg.to_csv(r'NY_Counties.csv', index = False)

In [8]:
pd.read_csv('NY_Counties.csv')

,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,tot_pos,Lewis,Seneca,Yates
0,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN
3,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN
4,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
5,2020-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN,NaN,NaN
6,2020-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,83,NaN,NaN,NaN,NaN,NaN
7,2020-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN,NaN
8,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,729,NaN,NaN,NaN
14,2020-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,950,NaN,NaN,NaN
15,2020-03-17,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,380,NaN,1700,NaN,NaN,NaN
16,2020-03-18,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,538,NaN,2382,NaN,NaN,NaN
17,2020-03-19,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,798,NaN,4152,NaN,NaN,NaN
18,2020-03-20,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1,091",NaN,7102,NaN,NaN,NaN
19,2020-03-21,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1,387",NaN,10356,NaN,NaN,NaN
20,2020-03-22,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2500,NaN,14000,NaN,NaN,NaN
21,2020-03-23,127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"2,894",NaN,20000,NaN,NaN,NaN
22,2020-03-24,146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"3,891",NaN,"25,665",NaN,NaN,NaN
23,2020-03-25,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"4,691",NaN,"30,811",NaN,NaN,NaN
24,2020-03-26,171.0,2.0,16.0,2.0,1.0,1.0,7.0,3.0,11.0,...,78.0,2.0,4.0,8.0,5944,7.0,37258,NaN,NaN,NaN
25,2020-03-29,195.0,2.0,23.0,1.0,2.0,5.0,12.0,8.0,12.0,...,128.0,13.0,6.0,12.0,7875,7.0,52318,NaN,NaN,NaN
26,2020-03-31,226.0,7.0,38.0,6.0,3.0,6.0,20.0,19.0,21.0,...,211.0,18.0,10.0,19.0,9967,9.0,75795,2.0,2.0,NaN
27,2020-04-01,240.0,9.0,42.0,7.0,3.0,6.0,22.0,26.0,25.0,...,221.0,18.0,10.0,24.0,10683,10.0,83712,2.0,2.0,NaN
28,2020-04-02,253.0,12.0,46.0,8.0,4.0,8.0,22.0,28.0,25.0,...,240.0,18.0,12.0,27.0,11567,14.0,92381,2.0,4.0,1.0

### Why the unnamed column
### What if new counties are added? <Solved?>

In [9]:
#df.to_csv('NY_Counties.csv', mode='a', header=False,index=True)

In [10]:
dfg.tail()

,Date,Albany,Allegany,Broome,Cattaraugus,Cayuga,Chautauqua,Chemung,Chenango,Clinton,...,Ulster,Warren,Washington,Wayne,Westchester,Wyoming,tot_pos,Lewis,Seneca,Yates
24,2020-03-26,171,2,16,2,1,1,7,3,11,...,78,2,4,8,5944,7,37258,NaN,NaN,NaN
25,2020-03-29,195,2,23,1,2,5,12,8,12,...,128,13,6,12,7875,7,52318,NaN,NaN,NaN
26,2020-03-31,226,7,38,6,3,6,20,19,21,...,211,18,10,19,9967,9,75795,2,2,NaN
27,2020-04-01,240,9,42,7,3,6,22,26,25,...,221,18,10,24,10683,10,83712,2,2,NaN
28,2020-04-02,253,12,46,8,4,8,22,28,25,...,240,18,12,27,11567,14,92381,2,4,1